<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count Up!</title>
</head>

<body>
    <h1>Hello {{ .Data.Name }}</h1>
    <form method="GET">
        <button type="submit" formaction="/session/token">Increment</button>
    </form>
    <br><br>
    <button onclick="location.href='/another'" type="button">Another</button>
    <br><br>
    <button onclick="location.href='/login/google'" type="button">Login</button>
    <br><br>
    <button onclick="location.href='/logout'" type="button">Logout</button>
</body>

</html>